header {
  background-color: azure;
}

footer {
  background-color: azure;
}

.flex-footer-element {
  font-size: 30px;
  color: #00FF00;
}

body {
  color :#00FF00;
  background-image: url(fon.png);
  font-size: 20pt;
  overflow: hidden;
}
h2 {
  font-size: 40px;
  color:rgb(22, 155, 22);
}

H1 {
font-size :40pt;
color :#32CD32;
text-align: center;
}
#img {
  float:left;  
  width:100px;; 
  height:100px; 
}
#name {
  color: #00FF00; 
  font-size: 40px;
}

Ol {
    font-size: 20pt;
    color :#00FF00;
}
.formStyle {
  font-size: 10px;
}

.check{
  transform:scale(0.5);
}
button {
  text-decoration: none;
  outline: none;
  display: inline-block;
  width: 140px;
  height: 45px;
  line-height: 45px;
  border-radius: 45px;
  margin: 10px 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  font-weight: 600;
  color: #524f4e;
  background: white;
  box-shadow: 0 8px 15px rgba(0,0,0,.1);
  transition: .3s;
}
button:hover {
  background: #2EE59D;
  box-shadow: 0 15px 20px rgba(46,229,157,.4);
  color: white;
  transform: translateY(-7px);
}
@media all and (orientation: landscape), (min-width: 700px) {
 header{
    height:120px;
  }
  body{
    overflow:scroll;
  }
  footer{
    height:120px;
  }
  
  .flex-footer-element{
    font-size: 30px;
  }
    .formStyle {
    font-size: 20px;
  }
  .check{
    transform:scale(0.7);
  }
}
